@import "base/fonts";
@import "base/reset";
@import "base/variables";
@import "popup";

@import "~webext-base-css/webext-base.css";

body {
  font-size: 1rem;
  line-height: 175%;
  margin-bottom: 60px;
}

#container {
  margin: 0 auto;
  width: 50%;
}

h1, h2, h3, p, textarea {
  margin: 20px 0;
}

textarea {
  display:block;
  padding: 10px 20px;
  width: 100%;
  overflow-y: auto;
  min-height: 5rem;
}

.block {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.block.with-logo {
  width: 36%;
}

.block.with-text {
  width: 60%;
}

ul {
  list-style: disc;
  margin-left: 30px;
}

@media screen and (max-width: 1600px) {
  #container {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  #container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .block {
    display: block;
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  #container {
    width: 98%;
  }
}